<section class="tt-section">
    <div class="code-section">
      <input type="text" placeholder="Memory address to modify" #operand />
    </div>
    <div class="code-section">
      <button type="button" class="btn btn-prg" (click)="create($event, operand)">Read</button>
      <button type="button" class="btn btn-prg" (click)="create($event, operand)">Load</button>
      <button type="button" class="btn btn-prg" (click)="create($event, operand)">Store</button>
      <button type="button" class="btn btn-prg" (click)="create($event, operand)">Add</button>
      <button type="button" class="btn btn-prg" (click)="create($event, operand)">Multiply</button>
      <button type="button" class="btn btn-prg" (click)="create($event, operand)">Branch</button>
      <button type="button" class="btn btn-prg" (click)="create($event, operand)">BranchZero</button>
      <button type="button" class="btn btn-prg" (click)="create($event, operand)">Write</button>
      <button type="button" class="btn btn-prg" (click)="create($event, operand)">Subtract</button>
      <button type="button" class="btn btn-prg" (click)="create($event, operand)">Divide</button>
      <button type="button" class="btn btn-prg" (click)="create($event, operand)">BranchNeg</button>
      <button type="button" class="btn btn-prg" (click)="create($event, operand)">Halt</button>
    </div>

  </section>