:host {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.btn-prg {
  width: 100px;
  margin-bottom: 1.95rem;
  margin-right: .51rem
}

input {
  margin-bottom: 1rem;
  padding: 1rem;
  width: calc(200px + .51rem + 4px);
  font-size: 1.25rem;
}
