:host {
  display: flex;
  flex-flow: column nowrap;
}

input {
  width: 100%;
  box-sizing: border-box;
}

.btn-prg {
  width: 100%;
}

#sec-operand {
  margin-bottom: 1rem;
}

#sec-prg-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
