:host {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#sec-code-list {
  flex: 1;
}

#sec-code-buttons {
  width: 75px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.code-list {
  width: 90%;
}

.btn-code {
  width: 70px;
}

.btn-code:last-of-type {
  align-self: flex-end;
}

select {
  background-color: #424242;
  color: #FFF;
  border: 1px solid #647F7A;
  outline: none;
}