select {
  background-color: #1C1C1C;
  color: #DDD;
  width: 100%;
  border: 1px solid #21624d;
  height: 100%;
  outline: none;
}

#sec-code-control {
  padding-top: .41rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}