.container {
  width: 700px;
  margin: auto;
  background-color: #6E6E6E;
  border-radius: 1rem;

}

.row {
  margin-bottom: 1.56rem;
  padding: 1rem 0;
}

.container > .row {
  border-bottom: 2px ridge #1C1C1C;
}

.container > .row:last-of-type {
  border: 0;
}
