<div class="container">
  <div class="row">
    <div class="col-md-4">
      <app-code></app-code>
    </div>
    <div class="col-md-8">
      <app-program (codeCreated)="onCodeCreated($event)"></app-program>
    </div>
  </div>

  <div class="row">
    <app-system [system]="system" 
                (inputRequest)="onInputRequest($event)"
                (installCode)="onInstallCode($event)">
    </app-system>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-memory [data]="system.memory.getAll()" [dimension]="system.memory.getDimension()">
      </app-memory>
    </div>
  </div>
</div>