:host {
  color: #CCC;
}
.tbl-memory {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

.tbl-memory td:nth-of-type(1) {
  font-weight: bold;
}

.tbl-memory th,
.tbl-memory td {
  width: 5rem;
  padding: .21rem 1rem;
}

.tbl-memory th {
  border-bottom: 1px solid #647F7A;
}

.tbl-memory td {
  border-bottom: 1px solid #333;
}

.tbl-memory td:first-of-type {
  border-right: 1px solid #647F7A;
  border-bottom: 0;
}

.tbl-memory th:first-of-type {
  border: 0;
}


