.tt-section {
  border: 1px solid black;  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
  
.tbl-memory {
  text-align: center;
  border-collapse: collapse;
}

.tbl-memory td:nth-of-type(1) {
  font-weight: bold;
}

.tbl-memory th,
.tbl-memory td {
  width: 5rem;
  padding: .21rem 1rem;
}

.tbl-memory,
.tbl-memory tr,
.tbl-memory th,
.tbl-memory td {
  border: 1px solid #CCC;
  border-radius: .41rem;
}
