:host {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

:host > div {
  width: 50%;
}

.btn-sys {
  width: 75%;
  margin-bottom: 1rem;
}

.sys-section {
  display: flex;
  flex-flow: row nowrap;
}


.sys-section > div {
  width: 75%;
}

input {
  width: 50px;
  margin-bottom: .41rem;
}

textarea {
  margin-left: 1rem;
  width: 100%;
  height: 100px;
}

label {
  vertical-align: middle;
}