<div>
  <button class="btn btn-sys" (click)="x">Install code</button>
  <button class="btn btn-sys" (click)="x">{{ system.status() ? 'Pause' : 'Activate' }}</button>
  <button class="btn btn-sys" (click)="x">Reset memory</button>
  <button class="btn btn-sys" (click)="x">Step</button>
  <button class="btn btn-sys" (click)="x">Run</button>
</div>
<div>
  <div class="sys-section">
    <div><label for="sys-accumulator">Accumulator</label></div>
    <input type="text" name="sys-accumulator" [value]="system.accumulator" disabled />
  </div>
  <div class="sys-section">
    <div><label for="sys-counter">Address</label></div>
    <input type="text" name="sys-counter" [value]="system.getCounter()" disabled />
  </div>
  <div class="sys-section">
    <div><label for="sys-input">Input</label></div>
    <input type="text" name="sys-input" [ngModel]="inputValue" (ngModelChange)="inputValue ? $event : null" (keyup)="setInput($event, operand)"
      #operand />
  </div>
    <div class="sys-section">
    <label for="sys-output">Output</label>
    <textarea name="sys-output" [value]="system.screen"></textarea>
  </div>
</div>
