.btn-sys {
  width: 100%;
  margin-bottom: 1.95rem;
}

.col-md-8 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.col-md-8 > div {
  width: calc(200px + 1rem);
  box-sizing: content-box;
}

.col-md-8 > div:first-of-type {
  display: flex;
  flex-flow: column nowrap;
  margin-right: 1rem;
}

.col-md-8 > div:last-of-type {
  display: flex;
  flex-flow: row nowrap;
}

#box-output {
  display: flex;
  padding: 1rem;
}

.sec-sys-info {
  width: 100%;
  background-color: #1C1C1C;
  border: 1px solid #21624D;
  border-radius: .41rem;
  margin-bottom: 1.95rem;
  padding: .35rem 0;
}

label {
  display: inline-block;
  width: 100px;
  color: #DDD;
  position: relative;
  top: 2px;
  text-align: right;
}

#box-output > label {
  text-align: left;
}

input {
  width: 100px;
  padding: 0 1rem;
  border: 0;
  position: relative;
  top: 2px;
  text-align: right;
}

textarea {
  width: 100%;
  background-color: #1C1C1C;
  border: 0;
  resize: none;
  outline: none;
  color: #DDD;
  text-align: right;
}

.alert {
  border: 1px solid red;
}

.alert > label {
  color: red;
}