<div class="col-md-4">
  <button class="btn btn-sys" (click)="install()" *ngIf="!system.isInitialized()">Install code to memory</button>
  <button class="btn btn-sys" (click)="system.reset()" *ngIf="system.isInitialized()">Reset system</button>
  <button class="btn btn-sys" (click)="system.step()" [disabled]="!system.isInitialized()">Step</button>
  <button class="btn btn-sys" (click)="system.run()" [disabled]="!system.isInitialized()">Run</button>
</div>
<div class="col-md-8">
  <div>
    <div class="sec-sys-info" id="box-accum">
      <label for="txt-accumulator">Accumulator</label>
      <input type="number" id="txt-accumulator" [value]="system.accumulator" disabled />
    </div>
    <div class="sec-sys-info" id="box-addr">
      <label for="txt-address">Address</label>
      <input type="number" id="txt-address" [value]="system.getCounter()" disabled />
    </div>
    <div class="sec-sys-info" id="box-input" [ngClass]="{'alert': system.isAwaitingInput()}">
      <label for="txt-input">Input</label>
      <input type="number" id="txt-input" (keyup)="readInput($event)" />
    </div>
  </div>
  <div>
    <div class="sec-sys-info" id="box-output">
      <label for="txt-output">Output</label>
      <textarea name="txt-output" [value]="system.screen" disabled></textarea>
    </div>
  </div>
</div>